<!DOCTYPE html>
<html>
    <head>
        <title>Blog APP</title>
        <link rel="stylesheet" type="text/css" href="https://cdnjs.cloudflare.com/ajax/libs/semantic-ui/2.2.13/semantic.min.css">
        <!--<link rel="stylesheet" type="text/css" href="stylesheets/blogapp.css">-->
    </head>
        <body>
            <div class="ui secondary pointing menu">
                <div class="ui container">
                    <a class="item" href="/"><i class="hashtag icon"></i>Home</a>
                    <a class="item" href="/"><i class="browser icon"></i>Blog</a>
                </div>
                <div class="right menu">
                    <a class="item" href="/blogs/new"><i class="idea icon"></i>New Post</a>
                </div>
            </div>

<a class="ui item active">